<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'gallerie_groupe_enfants.jpg', class: 'img-responsive', alt: "Groupe d'enfants" %>
    </div>
    <div class="item">
      <%= image_tag 'gallerie_groupe_adultes.jpg', class: 'img-responsive', alt: "Groupe d'adultes" %>
    </div>
    <div class="item">
      <%= image_tag 'gallerie_groupe_deguise.jpg', class: 'img-responsive', alt: "Groupe d'enfants déguisés" %>
    </div>
    <div class="item">
      <%= image_tag 'gallerie_livres.jpg', class: 'img-responsive', alt: "Livres éducatifs" %>
    </div>
    <div class="item">
      <%= image_tag 'gallerie_photo_booth.jpg', class: 'img-responsive', alt: "Photo Booth" %>
    </div>
    <div class="item">
      <%= image_tag 'gallerie_trio_masques.jpg', class: 'img-responsive', alt: "Groupe d'enfants masqués" %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- end carousel -->

